/*!
 * ---------------------------------------------------------------------
 *
 * GLPI - Gestionnaire Libre de Parc Informatique
 *
 * http://glpi-project.org
 *
 * @copyright 2015-2025 Teclib' and contributors.
 * @copyright 2003-2014 by the INDEPNET Development Team.
 * @licence   https://www.gnu.org/licenses/gpl-3.0.html
 *
 * ---------------------------------------------------------------------
 *
 * LICENSE
 *
 * This file is part of GLPI.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * ---------------------------------------------------------------------
 */

$toolbar_height: 40px;
$filter_height: 62px;
$break_phones: 700px;
$break_tablet: 1400px;



.dashboard {
    &.edit-mode {
        .grid-guide {
            display: flex;
            flex-wrap: wrap;

            @media screen and (max-width: $break_phones) {
                display: none;
            }
        }

        .grid-stack-item-content {
            touch-action: none;
        }

        .grid-stack .grid-stack-item:hover {
            .grid-stack-item-content:hover {
                cursor: grab;
            }

            & > .controls {
                display: inline-block;
            }

            .card {
                border-color: currentcolor;
            }
        }

        .markdown .html_content {
            display: none;
        }

        .markdown textarea.markdown_content {
            display: block;
        }

        .g-chart .ct-chart {
            [data-clickable="true"] {
                cursor: grab;
            }
        }

        .toolbar {
            .change-dashboard {
                display: none !important;
            }

            .edit-dashboard-properties {
                display: inline-flex;
            }
        }
    }

    &.filter-mode {
        .toolbar {
            .change-dashboard {
            display: none;
            }

            .filter-dashboard-properties {
            display: inline-block;
            }
        }

        .filters_toolbar {
            .filters {
                fieldset.filter {
                    &.filled {
                        margin-top: 0.5em;
                    }

                    border-color: #f0f0f0 !important;

                    input,
                    .flatpickr,
                    .select2,
                    .btn-group {
                        display: none !important;
                    }

                    .delete-filter {
                        display: inline-block !important;
                    }

                    legend {
                        display: inline-block;
                        cursor: grab;

                        &:active {
                            cursor: grabbing;
                        }
                    }

                    &:hover {
                        border-color: #509ee3 !important;
                        background: rgb(80, 158, 227, 30%);
                    }
                }

                .filter-placeholder {
                    border: 2px dashed #509ee3;
                    padding: 1em 1em 0.8em;
                    margin-top: 1em;
                    border-radius: 4px;
                    width: 100px;
                }
            }

            .filters-control {
                border-color: var(--glpi-dashboard-soft-border);

                .add-filter {
                    display: inline-block;
                }
            }
        }

        .card.filter-impacted {
            border-color: #509ee3;

            &::before {
                background: rgb(80, 158, 227, 30%);
                content: "";
                position: absolute;
                width: inherit;
                height: inherit;
                margin: -3px;
            }
        }
    }

    .grid-stack {
        &.grid-stack-one-column-mode {
            max-width: 100%;

            .grid-stack-item {
                margin-bottom: 2px;
            }
        }
    }

    .g-chart {
        display: flex;
        flex-direction: column;

        .chart {
            flex: 1;
            min-height: 0; // force firefox to respect flex-shrink on svg
        }

        .main-label {
            height: 30px;
        }

        .ct-chart-bar:not(.ct-horizontal-bars),
        .ct-chart-line {
            .ct-circle + .ct-label {
                font-size: 0.75rem;
                line-height: 1;
                paint-order: stroke;
                stroke-width: 5px;
            }

            .ct-labels {
                .ct-label:not(.ct-vertical) {
                    overflow-wrap: anywhere;
                }
            }
        }

        .ct-chart-line {
            .ct-label.ct-horizontal.ct-end {
                transform: translateX(-40%);
            }
        }

        .ct-chart-donut {
            fill: none;

            .ct-label {
                text-anchor: middle;
                font-weight: bold;

                &.fade {
                    opacity: 0.2;
                }
            }
        }

        .ct-horizontal-bars {
            .ct-label.ct-vertical.ct-start {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;

                &::before {
                    content: "";
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
            }
        }

        .ct-chart-bar {
            .ct-barlabel {
                font-weight: bold;
            }
        }

        &.gauge {
            .ct-chart {
                max-height: calc(100% - 45px); // prevent gauge to overflow

                .ct-series.mouseover {
                    .ct-slice-pie,
                    .ct-slice-donut-solid {
                        transform: scale(1.02); // with gauge, scale 5% si too much (we have clipping)
                    }
                }
            }
        }

        @keyframes slice-fill-opacity {
            to {
                fill-opacity: 1;
            }
        }

        .ct-chart-donut,
        .ct-chart-pie {
            .ct-series {
                .ct-slice-pie,
                .ct-slice-donut-solid {
                    stroke-width: 1px;
                    transform-origin: center center;
                    fill-opacity: 0;
                    animation: slice-fill-opacity 1s ease-in-out forwards;
                }

                &.disable-animation {
                    .ct-slice-pie,
                    .ct-slice-donut-solid {
                        animation: none;
                        fill-opacity: 1;
                    }
                }

                &.mouseover {
                    .ct-slice-pie,
                    .ct-slice-donut-solid {
                        fill-opacity: 1;
                        stroke-opacity: 1;
                        stroke-width: 3px;
                    }
                }

                &.notmouseover {
                    .ct-slice-pie,
                    .ct-slice-donut-solid {
                        fill-opacity: 0.5;
                        stroke-opacity: 0;
                    }
                }
            }
        }

        .ct-chart {
            [data-clickable="true"] {
                cursor: pointer;
            }
        }

        .ct-point:hover {
            stroke-width: 13px;
        }

        .ct-legend {
            text-align: left;
            padding: 10px 0 10px 38px;

            li {
                position: relative;
                padding-left: 23px;
                margin-bottom: 3px;
            }

            li::before {
                width: 12px;
                height: 12px;
                position: absolute;
                left: 0;
                content: "";
                border: 3px solid transparent;
                border-radius: 2px;
            }

            li.inactive::before {
                background-color: transparent !important;
            }
        }
    }


}

.embed_block {
    border: 1px dashed #a0a0a04f;
    padding: 5px 10px;
}

.palette_preview {
    width: calc(100% - 10px);
}

.widgettype_field {
    .widget-list {
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
    }

    input[type="radio"].widget-select {
        display: none;

        & + label {
            background: rgba($color: #000, $alpha: 5%);
            margin: 5px 5px 0 0;
            padding: 5px;
            border: 2px solid transparent;
            border-radius: 3px;
            display: none;
            text-align: center;
            font-weight: bold;
            width: 30%;

            &:hover {
                background: rgba($color: #000, $alpha: 10%);
                border-color: rgba($color: #000, $alpha: 20%);
                cursor: pointer;
            }
        }

        &:checked + label {
            background: rgba($color: #000, $alpha: 20%);
            border-color: rgba($color: #000, $alpha: 30%);
            position: relative;

            &::after {
                content: "\f00c";
                right: 5px;
                bottom: 3px;
                color: rgb(39, 39, 39);
                font: var(--fa-font-solid);
                font-size: 1em;
                position: absolute;
            }
        }
    }
}

.dashboard.theme-dark,
.theme-dark .dashboard {
    &.fullscreen,
    &.embed {
        .glpi_logo {
            background: url("../pics/logos/logo-GLPI-100-white.png") no-repeat;
        }
    }

    background: var(--tblr-dark);
    color: var(--tblr-light);

    .grid-guide {
        border: 1px solid var(--glpi-dashboard-soft-border);
        background-image:
            linear-gradient(to right, var(--glpi-dashboard-soft-border) 1px, transparent 1px),
            linear-gradient(to bottom, var(--glpi-dashboard-soft-border) 1px, transparent 1px);
    }

    .filters_toolbar {
        .filters {
            fieldset.filter:not(.filled) {
                border: 2px solid var(--glpi-dashboard-soft-border);
            }
        }
    }
}

html[data-glpi-theme-dark="1"] {
    .widgettype_field img {
        filter: invert(1);
    }
}
